body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background: #ff7418;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 10px;
    height: 5vh;
}

.logo{
    width: 100px;
}

.main-nav{
    align-self: flex-end;
}

.main-nav__items{
    display: flex;
    align-items: center;
}

.main_nav__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main_nav__item a:link,
.main_nav__item a:visited {
    padding: 0 10px;
    text-decoration: none;
    color: #dfdddd;
    font-size: 120%;
    text-transform: uppercase;
}

main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salmon-cookies-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.salmon-cookies-info__table{
    border-collapse: collapse;
    width: 80%;
}

.salmon-cookies-info__table th,
.salmon-cookies-info__table td{
    border: 1px solid #ff7418;
    padding: 10px;
    text-align: left;
}

.salmon-cookies-info__table th{
    font-weight: bold;
    font-size: 110%;
}


.salmon-cookies-info__table tr:first-of-type th{
    background: #ff7418;
    color: #fff;
    border: 1px solid #fff;
}

.salmon-cookies-info__table tr:nth-child(even){
    background: #dfdddd;
}

.salmon-cookies-info__table tr:hover{
    background: #ff7418;
}

footer{
    background: #dfdddd;
}

footer p{
    height: 10vh;
    text-align: center;
    font-size: 120%;
    color: #ff7418;
    padding-top: 20px;
}