*,
*::after,
*::before{
    box-sizing: border-box;
}
html,
body{
    font-family: 'Staatliches', cursive;
    color: #1d1d1d;
    background-color: whitesmoke;

}

header{
    background: #ff7418;
    padding: 20px 10px;
    overflow: auto;
    width: 100%;
}

.logo{
    float: left;
    width: 100px;
}

.main-nav::after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.main-nav__items{
    float: right;
}

.main_nav__item{
    display: inline-block;
    transform: translateY(7px);
}

.main_nav__item a:link,
.main_nav__item a:visited {
    padding: 7px 14px;
    text-decoration: none;
    color: #dfdddd;
    font-size: 120%;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 15px;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3a3a3a;
}

/* Home page */
section{
    padding: 65px 0;
}

.section-galary{
    width: 100%;
}

.galary{
    width: 75%;
    margin: 0 auto;
    background-color: #3a3a3a;
}

.galary img{
    width: 33%;
    height: 220px;
}

.galary img:last-child{
    transform: translateX(100%);
}

.section-location{
    background-color: #eeeeee;
}

.section-heading{
    width: 100%;
    font-size: 280%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1d;
    margin-bottom: 40px;
}

.section-heading::after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #ff7418;
    margin: 35px auto 0 auto;
}

.card-container{
    width: 75%;
    margin: 0 auto;
}

.card-container::after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.card{
    float: left;
    width: 45%;
    overflow: hidden;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 3px;
    background-color: #cccccc;
}


.card:nth-child(even){
    margin-right: 0;
}

.card:last-child{
    transform: translateX(60%);
}

.card__img{
    width: 100%;
    height: 280px;
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.25s;
}

.card__img:hover{
    transform: scale(1.03);
    opacity: 0.9;
    cursor: pointer;
}


.card__location-name{
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1d1d1d;
    margin: 10px 0;
}

.card__address-info,
.card__hours{
    margin-bottom: 7px;
}


ion-icon{
    font-size: 130%;
    margin-right: 3px;
    margin-bottom: -2px;
    color: #ff7418;
}

.card__details{
    width: 95%;
    margin: 15px auto;
}

.card__details span{
    font-size: 90%;
}

footer{
    background: #dfdddd;
}

footer p{
    text-align: center;
    font-size: 120%;
    color: #ff7418;
    padding: 25px 0;
}


/* sales page */


/* Cookies Stand Form */

.form,
span,
.salmon-cookies-info__table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6e6e6e;
}

.form{
    width: 40%;
    margin: 40px auto;
}

legend{
    font-family: 'Staatliches', cursive;
    font-size: 175%;
    color: #1d1d1d;
    margin-bottom: 10px;
    margin-left: -12px;
}

.input__group{
    margin-bottom: 10px;
}

.input__label,
.input__text,
.input__number{
    display: block;
    width: 100%;
}

.input__text,
.input__number{
    padding: 7px;
    border: 1px solid transparent;
    border-bottom: 1px solid #a1a1a1;
    border-radius: 3px;
}

.input__text:focus,
.input__number:focus{
    outline: 1px solid #ff7418;
    border-bottom: 1px solid transparent;
}

.input__label{
    margin-bottom: 5px;
}

.btn--submit{
    background-color: #ff7418;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 107%;
    transition: all 0.25s;
}

.btn--submit:hover{
    cursor: pointer;
    color: #ff7418;
    background-color: #fff;
    border: 1px solid #ff7418;
}

/* Salse Table */

.salmon-cookies-info{
    width: 80%;
    margin: 50px auto;
}

.salmon-cookies-info__table{
    border-collapse: collapse;
    background-color: #cccccc;
}

.salmon-cookies-info__table th,
.salmon-cookies-info__table td{
    border: 1px solid #ff7418;
    padding: 10px;
    text-align: left;
}

.salmon-cookies-info__table th{
    font-weight: bold;
    font-size: 110%;
}


.salmon-cookies-info__table tr:first-of-type th{
    background: #ff7418;
    color: #fff;
    border: 1px solid #fff;
}

.salmon-cookies-info__table tr:nth-child(even){
    background: #dfdddd;
}

.salmon-cookies-info__table tr:hover{
    background: #ff7418;
}


a.active:link,
a.active:visited{
    color: #ff7418;
    background-color: #dfdddd;
    border: 2px solid #ff7418;
}
